@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 24 96% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 24 96% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 84% 5%;
    --foreground: 210 40% 98%;
    
    --gradient-start: 232 47% 15%;
    --gradient-end: 229 84% 5%;
    
    --card: 229 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 229 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 24 96% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 47% 15%;
    --secondary-foreground: 210 40% 98%;
    --muted: 232 47% 15%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 232 47% 15%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 232 47% 15%;
    --input: 232 47% 15%;
    --ring: 24 96% 53%;
  }
}

@keyframes hero-zoom {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes typing {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}

.animate-typing > span {
  animation: typing 1.5s infinite;
  animation-delay: calc(var(--index) * 0.1s);
}

.animate-hero-zoom {
  animation: hero-zoom 1.5s ease-out forwards;
}

/* @font-face {
  font-family: 'Odd-Medium';
  src: url('/fonts/Odd-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'AlexType-Regular';
  src: url('/fonts/AlexType-Regular.woff2') format('woff2');
  font-display: swap;
} */

.dark body {
  background: linear-gradient(
    to bottom right,
    hsl(var(--gradient-start)),
    hsl(var(--gradient-end))
  );
}

